<!--
  string interpalation
  <p>
    {{ newPost }
  </p>
-->

<!--
  property binding
  <textarea rows="6" [value]="newPost" >
    -->

    <!--two way binding
      <textarea rows="6" [value]="newPost" #postInput></textarea>
      <hr>
      <button  (click)="onAddPost(postInput)">Save Post</button>
    -->
    <mat-card>
      <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input
        matInput type="text"
        type="text"
        name="title"
        ngModel
        required
        #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter a post title!</mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <textarea
        matInput
        rows="6"
        type="text"
        name="content"
        ngModel
        required
        #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content!</mat-error>
      </mat-form-field>
    <button
    color = "accent"
    mat-raised-button
    type="submit">Save Post</button>
  </form>
    </mat-card>

<!--
    <p>
      {{ newPost }}
    </p>
    -->

